
<section class="sec_eform">
    <div class="g_cont">
        <div class="eform_cont">
            <div class="company_info">
                <div class="d_image">
                    <img  src="/images/Hidden-cuate.png"  alt="">
                </div>
            </div>
            <div class="eform">
                      {{!--  row --}}
                        <div class="form_row ">
                            <div class="form_item">
                                Name :  {{data.name}}
                            </div>
                        </div>
                      {{!--  row --}}
                        <div class="form_row ">
                            <div class="form_item">
                                Email : {{data.email}} 
                            </div>
                        </div>
                      {{!--  row --}}
                        <div class="form_row ">
                            <div class="form_item">
                                Age :  {{data.age}}
                            </div>
                        </div>
                      {{!--  row --}}
                        <div class="form_row ">
                            <div class="form_item">
                                Mobile : {{data.mobile}} 
                            </div>
                        </div>
                      {{!--  row --}}
                        <div class="form_row ">
                            <div class="form_item">
                                Address : {{data.address}} 
                            </div>
                        </div>
                      {{!--  row --}}
                        <div class="form_row ">
                            <div class="form_item">
                                Course Interested : {{data.course}} 
                            </div>
                        </div>
                       
            </div>
        </div>
    </div>
</section>